:root {
	--bg-primary: #2a2b3d;
	--bg-secondary: #222433;
	--cl-secondary: #979eae;
	--cl-primary: #ffffff;
	--cl-selection: #4c84ff;
	--cl-warning: #ff4c4c;
}
.bg-primary {
	background-color: var(--bg-primary);
}
.bg-secondary {
	background-color: var(--bg-secondary);
}
.cl-primary {
	color: var(--cl-primary);
}
.cl-secondary {
	color: var(--cl-secondary);
}
.cl-selection {
	color: var(--cl-selection);
}

* {
	color: var(--cl-secondary);
}

html,
body {
	background-color: var(--bg-secondary);
	color: var(--cl-primary);
}
p {
	margin: 0;
}

.page-button {
	color: var(--cl-secondary);
}

h3 {
	padding-inline: 1rem;
}
div[role='dialog'] {
	color: var(--cl-primary);
	background-color: var(--bg-secondary);
}
input {
	color: var(--cl-primary) !important;
}
.MuiFormControl-root,
.MuiFormLabel-root {
	color: var(--cl-primary) !important;
}
/* .quest-enter {
	opacity: 0;
}
.quest-enter-active {
	opacity: 1;
	transition: opacity 2000ms ease-in;
}
.quest-exit {
	opacity: 1;
}
.quest-exit-active {
	opacity: 0;
	transition: opacity 1000ms;
} */
.item {
	margin: 0.1rem;
	margin-right: 1rem;
	padding: 0;
}
.MuiListItem-root {
	margin: 0;
	padding: 0;
}
.nav-link {
	text-decoration: none;
	margin-inline: 0.7rem;
	color: var(--cl-primary);
}
.unselected {
	color: var(--cl-secondary) !important;
}
