:root {
	--questsColor: #3d4146;
	--questColor: rgb(120, 120, 120);
	--addColor: #50b5e9;
	--moreColor: #e7e950;
	--infoRadius: 1rem;
}
.clicable {
	cursor: pointer;
}
.questsList {
	border: 0.5rem solid var(--questsColor);
	background-color: var(--questsColor);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 1rem;
}
.row {
	flex-direction: row;
	height: 1.5rem;
	margin: 0rem;
}
p {
	margin: 0rem;
	margin-block: 0rem;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.column {
	flex-direction: column;
	height: 100%;
}
.fill-width {
	width: 100%;
}
.fill-height {
	height: 100%;
}

.questInfo {
	border: 0.1rem solid var(--questColor);
	background-color: var(--questColor);
	margin-bottom: 0.5rem;
	border-radius: var(--infoRadius);
	display: flex;
	flex-direction: row;
	width: 100%;
}
.no-margin {
	margin: 0;
}
.add {
	background-color: var(--addColor);
	width: 3rem;
	border-radius: var(--infoRadius) 0rem 0rem var(--infoRadius);
	display: flex;
	flex-direction: row;
}
.info {
	padding: 0.5rem;
	margin-right: 0.2rem;
	display: flex;
	flex-direction: column;
}
.align-left {
	align-self: flex-start;
}
.align-center {
	justify-self: center;
}
.justify-center {
	justify-content: center;
}

.align-right {
	align-self: flex-end;
}

.title {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.71;
}
.description {
	font-size: 0.875rem;
}

.emoji {
	font: 1em sans-serif;
	padding: 0rem;
}
